@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model My_Expenses.ViewModels.UserModel.RegisterEmployeeModel
@{
    ViewData["Title"] = "RegisterNewEmployee";
    Layout = "_Layout";
}

@section Styles {
    <link href="~/css/DefaultForm/form.css" rel="stylesheet" />
}
<header class="formHeader">
    <h3>Just one ste away</h3>
    <h5>All inputs are required</h5>
</header>

<div class="formContainer">
    <form asp-controller="Auth" asp-action="RegisterEmployee">
        <br />
        <input placeholder="Username" class="form-control" asp-for="@Model.Username" />
        <br />
        <input placeholder="Password" type="password" class="form-control" asp-for="@Model.Password" />
        <br />
        <input placeholder="Confirm password" type="password" class="form-control" asp-for="@Model.ConfirmPassword" />
        <br />
        <input placeholder="Email adress" class="form-control" asp-for="@Model.EmailAdress" />
        <br />
        <input type="submit" value="Register" class="btn btn-dark form-control" />
    </form>
    <div class="registerLinkContainer">
        <p>Back to <a asp-action="SignIn">Sign in</a></p>
    </div>
    <div class="text-danger" asp-validation-summary="All"></div>
</div>

