.overviewContainer{
    padding: 10px 50px;
}
.AccContainer table{
    width: 40%;
    margin-top: 20px;
}
.AccContainer th, td{
    padding: 15px;
}
.AccContainer tr{
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.forms {
    width: 50%;
    padding: 10px;
    display: flex;
    transition: all 1s;
}
.forms input, select {
    margin-right: 5px;
}
