@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model My_Expenses.ViewModels.AccountModels.AccountOverviewModel
@{
    Layout = "_Layout";
}
@section Styles{ 
    <link rel="stylesheet" href="~/css/Account/Overview.css" />
}
<div class="overviewContainer">

    <div class="AccContainer">
        <table>
            <tr>
                <th>Account name</th>
                <th>Total amount</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>Main account</td>
                <td>@Model.MainAccount</td>
                <td>
                    <a class="btn btn-success btn-sm" onclick="ToggleForm(`addForm`)">Add</a> |
                    <a class="btn btn-success btn-sm" onclick="ToggleForm(`transferForm`)">Transfer to savings</a>
                </td>
            </tr>
        </table>
    </div>

    <form asp-action="TransferToSavings" id="transferForm" class="forms">
        <input type="number" id="amount" name="amount" class="form-control" placeholder="Enter amount" />
        <input type="submit" class="btn btn-success form-control" value="Transfer" onclick="return confirm(`Confirm transfer`)" />
    </form>

    <form asp-action="AddToMain" id="addForm" class="forms">
        <input type="number" id="amount" name="amount" class="form-control" placeholder="Enter amount" />
        <input type="submit" class="btn btn-success form-control" value="Add" onclick="return confirm(`Confirm adding`)" />
    </form>

    <div class="AccContainer">
        <table>
            <tr>
                <th>Account name</th>
                <th>Total amount</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>Main account</td>
                <td>@Model.SavingsAccount</td>
                <td>
                    <a>action</a> |
                    <a>action</a>
                </td>
            </tr>
        </table>
    </div>

</div>
@section Scripts{ 
    <script src="~/js/Account.js"></script>
}



