@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model My_Expenses.ViewModels.ProductModels.AddProductModel
@{
    Layout = "_Layout";
}
@section Styles{ 
    <link rel="stylesheet" href="~/css/DefaultForm/form.css" />
}
<header class="formHeader">
    <h3>Create product</h3>
</header>

<div class="formContainer">
    <form asp-action="AddProduct">

        <p>Product name</p>
        <input class="form-control" placeholder="..." asp-for="@Model.Name" />

        <p>Price</p>
        <input class="form-control" type="number" asp-for="@Model.Price" />

        <p>Caategory</p>
        <select id="category" name="Category" class="form-control" asp-for="@Model.Category" >
            <option value="Food and Drinks">Food and drinks</option>
            <option value="Bills">Bills</option>
            <option value="Interior">Interior</option>
            <option value="Other">Other</option>
        </select>

        <p>Note</p>
        <textarea class="form-control" placeholder="Not required" asp-for="@Model.Note"></textarea>

        <input type="submit" value="Add product" class="btn btn-dark form-control" />
        <div asp-validation-summary="All"></div>
    </form>
</div>