@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model My_Expenses.ViewModels.ProductModels.HomePageCalculatedDataModel
@{
    Layout = "_Layout";
}
@section Styles{
    <link rel="stylesheet" href="~/css/Home/HomePage.css" />
    <link rel="stylesheet" href="~/css/Home/Sidebar.css" />
}

<partial name="Sidebar" />

<div class="contentContainer">
    @if (Model.Products.Count == 0)
    {
        <p>No products found in this period</p>
        <a asp-action="HomePage">Back to all products</a>
    }
    else
    {
        <partial name="CalculatedInfoTable" />

        <partial name="DisplayProducts" />
    }

</div>

@section Scripts{
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="~/js/Sidebar.js"></script>
}