.formContainer{
    width: 30%;
    margin: auto;
}
.formContainer input, select, textarea{
    margin-top: 15px;
}
.formHeader {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 15px;
}
.registerLinkContainer {
    text-align: center;
    padding: 5px;
}