.formContainer{
    width: 30%;
    margin: auto;
}
.formContainer p{
    margin-top: 15px;
    margin-bottom: -1px;
    padding: 10px;
}
.formContainer .btn-dark{
    margin-top: 20px !important;
}
.formHeader {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 15px;
}
.registerLinkContainer {
    text-align: center;
    padding: 5px;
}