@model My_Expenses.ViewModels.ProductModels.HomePageCalculatedDataModel

<div class="totalAmountContainer">
    <table class="homePageTable">
        <thead>
            <tr>
                <th>Total</th>
                <th>First product added</th>
                <th>Last product added</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Data.TotalAmount den.</td>
                <td>@Model.Data.DateFrom</td>
                <td>@Model.Data.DateTo</td>
            </tr>
        </tbody>
    </table>
</div>