@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="positionRight">
    <div id="sidebarContainer">
        <h3 class="sidebarHeader">Filter products</h3>
        <div class="sidebarContentContainer">

            <div class="formContainer">
                <div class="dropDownMenu" onclick="ToggleForm(`formByName`)">
                    <h5>Custom filter <i class='fas fa-caret-down' style='font-size:24px'></i></h5>
                </div>
                <form class="filterForm" id="formByName" asp-controller="Product" asp-action="CustomFilter">
                    <select id="category" name="category" class="form-control">
                        <option value="all">All categories</option>
                        <option value="Food and Drinks">Food and drinks</option>
                        <option value="Bills">Bills</option>
                        <option value="Clothing">Clothing</option>
                        <option value="Other">Other</option>
                    </select>
                    <input type="date" class="form-control" id="dateFrom" name="dateFrom" required />
                    <input type="date" class="form-control" id="dateTo" name="dateTo" required />
                    <input type="number" placeholder="Minimum prize" class="form-control" id="prizeFrom" name="prizeFrom" required />
                    <input type="number" placeholder="Maximum prize" class="form-control" id="prizeTo" name="prizeTo" required />
                    <input type="submit" class="btn btn-outline-success form-control" value="Filter" />
                </form>
            </div>

        </div>
    </div>
</div>