@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="AccContainer">
    <table>
        <tr>
            <th>Account name</th>
            <th>Total amount</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>Main account</td>
            <td>@Model</td>
            <td>
                <a class="btn btn-success btn-sm" onclick="ToggleForm(`addForm`)">Add</a> |
                <a class="btn btn-success btn-sm" onclick="ToggleForm(`transferForm`)">Transfer credit</a>
            </td>
        </tr>
    </table>
</div>

<form asp-action="TransferToAccount" id="transferForm" class="forms">
    <input type="number" id="amount" name="amount" class="form-control" placeholder="Enter amount" />
    <select class="form-control" id="toAccount" name="toAccount">
        <option value="spending">Spending account</option>
        <option value="savings">Savings account</option>
    </select>
    <input type="submit" class="btn btn-success form-control" value="Transfer" onclick="return confirm(`Confirm transfer`)" />
</form>

<form asp-action="AddToMain" id="addForm" class="forms">
    <input type="number" id="amount" name="amount" class="form-control" placeholder="Enter amount" />
    <input type="submit" class="btn btn-success form-control" value="Add" onclick="return confirm(`Confirm adding`)" />
</form>