<div class="AccContainer">
    <table>
        <tr>
            <th>Account name</th>
            <th>Total amount</th>
        </tr>
        <tr>
            <td>Spending account</td>
            <td>@Model</td>
        </tr>
    </table>
</div>