.contentContainer{
    width: 95%;
    margin: auto;
    padding: 10px;
}
.addBtn{
    margin: 20px 10px;
}
.homePageTable {
    width: 99%;
    margin: auto;
}
.homePageTable td, th{
    padding: 7px;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    font-size: 1.1em;
}
.homePageTable tr th {
    position: relative;
    color: whitesmoke;
    background-color: #343a40;
    width: 15%;
}
.scrollContainer {
    height: 500px;
    overflow: auto;
    border-bottom: 1px solid #343a40;
}
.totalAmountContainer{
    text-align: center;
}
.productNote td{
    padding: 20px !important;
    font-weight: 500;
}
