
<div class="totalAmountContainer">
    <table class="defaultTable">
        <thead>
            <tr>
                <th>Total</th>
                <th>First product added</th>
                <th>Last product added</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.TotalAmount den.</td>
                <td>@Model.DateFrom</td>
                <td>@Model.DateTo</td>
            </tr>
        </tbody>
    </table>
</div>