.contentContainer{
    width: 95%;
    margin: auto;
    padding: 10px;
}
.defaultTable {
    width: 99%;
    margin: auto;
}
.defaultTable th, td {
    padding: 13px;
    font-size: 1.1em;
    position: relative;
    color: whitesmoke;
    background-color: #343a40;
    width: 15%;
    border-bottom: 1px solid rgba(0,0,0,0.4);
}
.defaultTable th{
    background-color: black;
}
.scrollContainer {
    height: 500px;
    overflow: auto;
    border-bottom: 1px solid #343a40;
}
.totalAmountContainer{
    text-align: center;
}
.productNote td{
    padding: 20px !important;
    font-weight: 500;
}


